#profileDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#picon {
    width: 100%;
    height: 100%;
    /* border: 4px solid #403511; */
    /* border-image: linear-gradient(#403511,#c3b689,#403511); */
    border-radius: 50%;
}

#profile-container div:first-child {
    background: linear-gradient(#a98a4b,#c3b689,#a98a4b);
    width: 30%;
    height: inherit;
    border: 4px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
}

#profile-container {
    align-self: center;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    width: 40%;
    margin: 25px 0;
}

#profile-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    color: #c3b689;

}

#profile-text h2,#profile-text h5 {
    margin: 0;
    align-self: flex-start;
}